div.content {
    min-height: 1578px;
}

.articles-content {
    padding: 60px 20px 0px 32px;
    display: flex;
}

.articles-content2, .articles-content3 {
    padding: 17px 20px 0px 32px;
    display: flex;
}

.articles-content_1{
    padding: 0px 9px 0px 9px;
    width: 379px;
}

.articles-content_img {
    height: 236px;
}

.articles-content_text {
    background-color: #e8e8e8;
    width: 379px;
    height: 110px;
}

.articles-content_text__item {
    margin: 0px;
    padding: 20px 20px 10px 20px;
    font-size: 19px;
}

.articles-content_text__teg {
    margin: 0px;
    padding: 2px 0px 20px 20px;
    font-style: italic;
    color: #808080;
    font-size: 17px;
}