
.main-right {
    display: flex;
    padding: 0px 15px 0px 15px;
    height: 427px;
}

.main {
    width: 77%;
    padding: 20px 5px 5px 5px;

}

.main-image__item {
    background-image: url("../images/main-image.png") ;
    background-repeat: no-repeat;
    height: 386px;
    border-radius: 10px 10px 10px 10px;
}

.main-image__item {
    padding-top: 200px;
    padding-right: 30px;
}

.main-image__item__text {
    max-width: 655px;
    min-width: 436px;
    height: 125px;
    background-color: white;
    padding-top: 30px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
}

.main-image__item__text1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0px;
    padding: 0px 20px;
}

.main-image__item__text2 {
    font-size: 1.125rem;
    text-align: center;
    margin: 0px;
    padding: 0px 20px;
    color: rgb(51, 112, 153);
    text-decoration: underline;
}

.right-image1, .right-image2{
    max-width: 269px;
    min-width: 150px;
    height: 183px;
    padding: 5px 10px 10px 10px;
}

.right-image1__item {
    background-image: url("../images/right-image1.png");
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 183px;
}

.right-image2__item {
    background-image: url("../images/right-image2.png");
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 293px;
    height: 183px;
}

.right-image1__item__text, .right-image2__item__text {
    padding: 20px;
    color: rgb(51, 112, 153);
    text-decoration: underline;
    text-align: center;
    width: 229px;
}

h1 {
    font-size: 42px; font-family: "Panton"; font-weight: 400; color: rgb(51, 112, 153); line-height: 1.2;
    text-decoration: none;
    text-align: center;
    bottom: 200px;
}


.publication, .publication-2, .publication-3, .publication-4, .publication-5 {
    width: 240px;
    height: 330px;
    padding: 20px;
    text-align: center;
}

.publication-inline {
    display: flex;
}

.about {
    padding: 0px 20px 0px 20px;
    display: flex;
}

.image-about img {
    width: 100%;
}

.about div h1 {
    font-weight: 600;
    color: #000;
}

.text-about {
    padding: 0px 0px 10px 30px;
    font-size: 0.85rem;
    width: 440px;
}

.text-about__headline {

    font-weight: 400;
    margin-top: 0px;
}

.lessons {
    display: flex;
    padding: 140px  20px 10px 0px;
}

.lessons div h1 {
    color: #000;
    font-weight: 600;
    margin-top: 0px;
}

.lessons__yoga__text {
    width: 448px;
}

.lessons div h2 {
    font-weight: normal;
    font-weight: 600;
}

.lessons__yoga__menu {
    width: 320px;
}

.lessons__yoga__menu ul {
    padding-left: 39px;
}

.lessons__yoga__menu ul li {
    list-style: none;
    width: 237px;
    height: 43px;
    padding: 10px 30px 10px 10px;
    background-image: url("../images/yoga__image__menu.png");
    border-bottom: 3px solid gray;
    font-size: 19px;
    font-weight: bold;
    text-align: left;
}

