@media screen and (max-width: 1150px) {
    html {
        font-size: 90%;
    }
    .menu_nav, .menu2_nav {
        font-size: 16px;
    }
}

@media screen and (max-width: 980px) {
    html {
        font-size: 70%;
    }

    .footer-menu_1, .footer-menu_2, .footer-menu_3 {
        font-size: 10px;
    }
    .menu_nav, .menu2_nav {
        font-size: 16px;
    }
}

@media screen and (max-width: 680px) {
  .footer-menu_1, .footer-menu_2, .footer-menu_3 {
        font-size: 7px;
    }
    .menu_nav, .menu2_nav {
        font-size: 14px;
    }
}
